@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand SC', Arial, Helvetica, sans-serif;
}

body {
    color: black;
    background-color: wheat;
    margin: 5%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 25vh;
    margin: 2.5% 2.5%;
    font-size: x-large;
}

header > .logo {
    padding: 0 2.5vw 0 2.5vw;
}

.logo > img {
    width: 35vw;
    margin-bottom: 5%;
}

nav > ul {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.5% 0 2.5% 0;
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: black;
}

main {
    margin: 2.5% 2.5%;
    min-height: 100vh;
}

#promo {
    min-height: 40vh;
}

#promo > p {
    text-align: justify;
    padding: 5% 0;
    font-size: large;
}

h1 {
    text-align: center;
    padding: 2% 0;
    font-size: xx-large;
}

.content {
    min-height: 40vh;
    display: flex;
    margin-bottom: 5%;
    font-size: larger;
}

.blocks {
    text-align: justify;
}

.blocks:nth-of-type(1) {
    margin: 0 2.5% 0 0;
}

.blocks:nth-of-type(3) {
    margin: 0 0 0 2.5%;
}

.blocks > .img-container {
    background-color: cadetblue;
    width: 100%;
    text-align: center;
    
}

.img-container > img {
    padding: 5%;
    width: 25%;
}

.blocks > p {
    padding: 5%;
}

footer {
    margin: 2.5% 2.5%;
    min-height: 25vh;
    display: flex;
    align-items: center;
    font-size: medium;
}

footer > div {
    width: 50%;
}

footer > div:nth-of-type(2) {
    text-align: end;
}

footer img {
    max-width: 10%;
}